/*
* Basics: animations, base, typography, and utilies
*/

/* Font style */
@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@500&family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@500&family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trocchi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Karma:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Karma:wght@600&family=Ramabhadra&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
// xx-small: minuscule ;
// x-small: très petit ;
// small: petit ;
// medium: moyen ;
// large: grand ;
// x-large: très grand ;
// xx-large: euh… gigantesque.

@font-face {
  font-family: 'Lato';
  src: url('../assets/fonts/Lato/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway Dots';
  src: url('../assets/fonts/RalewayDots/RalewayDots-Regular.ttf');
}

@font-face {
  font-family: 'Raleway regular';
  src: url('../assets/fonts/Raleway/static/Raleway-Regular.ttf');
}

@font-face {
  font-family: 'Homemade Apple';
  src: url('../assets/fonts/Homemade/HomemadeApple-Regular.ttf');
}

@mixin font-content {
  font-family: 'Raleway', sans-serif;;
}

@mixin hand-written {
  font-family: 'Homemade Apple', cursive;
}

@mixin main-title {
  font-family: 'Raleway Dots', cursive;
  font-weight: 100;
  font-size: 3rem;
  padding-top: 3rem;
  text-align: center;
}

@mixin title {
  font-family: 'Lato', sans-serif;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

* {
  overflow: -moz-scrollbars-none; 
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  scrollbar-width: none; //Hide scrollbar//
  scroll-behavior: smooth; //Allows to show scrolling effect//
}
 
$dark-primary-color    : #C1185B; 
$default-primary-color : #E81E63; 
$light-primary-color   : #FFCCBC; 
$text-primary-color    : #FFFFFF; 
$accent-color          : #03A9F4; 
$primary-text-color    : #212121; 
$secondary-text-color  : #757575; 
$divider-color         : #BDBDBD;

em {
  font-style: normal;
}

@media screen and (max-width:799px) {
  figcaption, i, p, strong {
    font-size: 16px !important;
  }

  h2 {
    font-size: 23px !important;
  }
}

/* cancel the 'link' style */
@mixin linkNoStyle {
  box-shadow: none;
  display: inline;
  margin: 0;
  padding: 0;
}

/* external links, target all anchor tags that have an href beginning with http */
a[href^="http"] {
  background: url('../assets/icons/open.svg') no-repeat;
  background-position-x: 100%;
  background-position-y: 50%;
  background-size: 6%;
}

/* List */

ul li {
  list-style: inside;
  @include p-font;
}

ul {
  list-style-type: disc;
}

p, li {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-break: break-word;
  @include p-font;
}