@import './abstracts.scss';
@import './base.scss';
@import './components.scss';
@import './layout.scss';
@import './pages.scss';
@import './pages.scss';
@import './vendors.scss';

/*
* I use 7–1 pattern
*/

$bgd-primary: white;
$bgd-secondary: #FFE01B;
$color-white: #FFFFFF;
$color-dark: #241C15;
$color-link: #454545;
$color-blue: #d8e3e1;
$color-mallow: #F8E0Fa;
$color-green: #DAEACD;

/**** Font style ****/

/* Main title */
@font-face {
  font-family: 'desiras';
  src: url('../assets/fonts/desiras/desiras.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@mixin main-title {
  font-family: 'desiras', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@500&family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@500&family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trocchi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Karma:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Karma:wght@600&family=Ramabhadra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

/** subtitle **/
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

@font-face {
  font-family: 'Lato-regular';
  src: url('../assets/fonts/Lato/Lato-Regular.ttf');
}

@mixin subtitle {
  font-family: 'Lato-regular', sans-serif;
  font-weight: unset;
}

//BIG TITLE
@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');

//P
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

@mixin graphfont {
  font-family: 'Fredericka the Great', cursive;
}

@mixin button {
  border: none;
  background-color: transparent;
  @include nav;
  background-color: transparent;
  border: none;
  cursor: grab;
}

@mixin title-font {
  font-family: 'Amiri', serif;
}

@mixin bold-text {
  font-family: 'Ramabhadra', sans-serif;
  font-weight: 900;
  line-height: 1.4em;
  letter-spacing: -0.026rem;
}

@mixin p-font {
  font-family: "Lato",serif;
  font-size: 16px;
}

@mixin p-large {
  color: $color-dark;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 25px;
  text-align: justify;
  overflow: auto;
  word-wrap: break-word;
  overflow: auto;
  word-wrap: break-word; 
  @include p-font;
};

@mixin title-large {
  color: $color-dark;
  font-size: 3.375rem;
  letter-spacing: -.03125rem;
  line-height: 1.2rem;
  text-align: center;
  @include title-font;
};

@mixin title-medium {
  color: $color-dark;
  font-size: 1.75rem;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 1.3;
  font-weight: 300;
  font-size: 29px !important;
  line-height: 34px;
  @include p-font();
};

@mixin title-small {
  font-size: 1.4rem !important;
};

@mixin link {
  font-family: NeutraText-Light,Arial,sans-serif;
  font-size: 11px;
  color: $color-link;
  cursor: pointer;
  font-size: .9375rem;
  font-weight: 600;
  letter-spacing: 0.134rem;
  padding-left: 0;
  padding-right: 0;
  text-decoration: none; 
  vertical-align: baseline;
};

* {
  box-sizing: border-box;
};

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;

  @media screen and (max-width: 799px) {
    
  }

  @media screen and (max-width: 545px) {
    font-size: 80%;
  }

}

@media screen and (max-width: 545px) {
  h3 {
    font-size: 1.2rem;
  }
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

a:hover {
  color: $color-link;
}

a {
  @include link;
}

h2, h3 {
  @include title-medium;
}

@media screen and (max-width: 799px) {
  h2, h3 {
    @include title-small;
  }
}


figcaption, p, li {
  @include p-large;
}

@mixin width {
  width: 85%;
}

html {
    box-sizing: border-box; //border-box indique au navigateur de prendre en compte la bordure et le remplissage dans la valeur définie pour la largeur et la hauteur.
}

// EFFECT HOVER 

@mixin hoverEffect {
  a {
    position: relative;
    padding: 1rem 0 0.5rem;
    text-decoration: none;
    
    &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%) scaleX(0);
        transform-origin: 50% 50%;
        width: 100%;
        height: 2px;
        background-color: $color-link;
        transition: transform 250ms;
    }
    
    &:hover {
        
        &::after {
            transform: translateX(-50%) scaleX(1);
        }
        
    }
  }
}

// ANIMATIONS //
@mixin fadein ($duration, $delay) {
  animation: fadein;
  animation-duration: $duration;
  animation-delay: $delay;
  -moz-animation: fadein; /* Firefox */
  -webkit-animation: fadein; /* Safari & Chrome */
  -o-animation: fadein; /* Opera */

  @keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
  }
  @-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
  }
  @-webkit-keyframes fadein { /* Safari & Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
  }
  @-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
  }
}

@keyframes heartbeat {
  0%{
    transform: scale(1);
  }
  25%{
    transform: scale(1);
  }
  30%{
    transform: scale(1.4);
  }
  50%{
    transform: scale(1.2);
  }
  70%{
    transform: scale(1.4);
  }
  100%{
    transform: scale(1);
  }
}

/* animation */
@mixin animate($animation-name, $time, $style) {
  -webkit-animation: $animation-name $time $style;
  -moz-animation:    $animation-name $time $style;
  -o-animation:      $animation-name $time $style;
  animation:         $animation-name $time $style;
}

@keyframes icon-bounce {
  0%, 100% { transform: rotate(0deg);}
  25% { transform: rotate(15deg);}
  50% { transform: rotate(-15deg);}
  75% { transform: rotate(5deg);}
  85% { transform: rotate(-5deg);}
}