
/*
* Pages: Have a single scss for each specific page
*/

.pageTherapy {
    align-items: center;
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center;
    max-width: 100vw;
    background-repeat: no-repeat; 

    p {
        margin: 1.5rem auto;
    }

    figcaption {
        font-size: 11px !important;
        font-weight: 900;
        text-transform: uppercase;
    }

    h3 {
        font-size: 29px !important;
        padding-bottom: 1rem;
    }

    em, p, strong {
        text-align: justify;
        font-family: "Lato",serif !important;
        font-size: 16px !important;
        font-weight: 300 !important;
        color: #241C15 !important;
        font-style: normal;
    }

    @media screen and (max-width: 799px) {

        h3 {
            font-size: 1.4rem !important;
        }

    }
}