@import './../../style/main.scss';

#eft {
    img {
        background-image: url('../../assets/pictures/blob16.svg');
        background-size: cover;
        background-repeat: no-repeat;
        width: 30%;
    }
}