@import './../../style/main.scss';

#emdr {
    img {
        background-image: url('../../assets/pictures/blob12.svg');
        background-size: cover;
        background-repeat: no-repeat;
        width: 30%;
    } 
}