@import './../../style/main.scss';

.moreTherapies {
    padding-bottom: 3rem;
    padding-top: 3rem;
    background-color: $bgd-primary;
    height: auto;
    /* curve effect */
    //border-bottom-left-radius: 60%;
    //border-bottom-right-radius: 99%;
    

    &__container {
        margin: auto;
        @include width;

        h2 {
            text-align: center;
            //@include title-medium;
            text-transform: uppercase;
        }

        .one {
            img {
                //background-color: $color-blue;
                background-image: url('../../assets/pictures/blob8.svg');
            }

            img:hover {
                @include hover-picture($icv);
            }
           
        }
    
        .two {
            img {
                //background-color: $color-mallow;
                background-image: url('../../assets/pictures/blob13.svg');
            }

            img:hover {
                @include hover-picture($at);
            }
        }
    
        .three {
            img {
                //background-color: $color-green;
                background-image: url('../../assets/pictures/blob6.svg');
            }
            
            img:hover {
                @include hover-picture($couple);
            }
        }
    }

    &__flex {
        align-content: space-between;
        display: flex;
    }

    @media screen and (max-width: 799px) {

        h2 {
            font-size: 2.5rem;
        }
    }

    @media screen and (max-width: 545px) {
    
    }
}
 