@import './../../style/main.scss';

#sophrology {
    img{
        background-image: url('../../assets/pictures/blob8.svg');
        background-size: cover;
        background-repeat: no-repeat;
        width: 30%;
    }
}